.box{
    width: 200px; 
    height: 200px; 
    background-color: red; 
    border: 2px solid blue;
}
.btn{
    background-color: green; 
    padding: 10px; color: white; 
    border-radius: 100px; 
}
#div1{
    width: 200px; 
    height: 200px; 
    background-color: rgb(8, 255, 181); 
    border: 2px solid rgb(217, 255, 0);  
}
.btn1{
    padding: 20px;color: aliceblue;
    border: 5px solid rgb(48, 141, 248);
    margin-left: 250px;
    margin-bottom: 100px;
    margin-right: 50px;
    background-color: rgb(128, 0, 255);
    font-size: larger;
}